body {
  font: 20px "Lucida Grande";
  background-image: url(../images/escheresque_ste.png);
}

.container {
  margin-top: 4em;
  margin-left: 1em;
  border-radius: 25px;
  background: #d1d1d1;
  padding: 20px;
  text-align: center;
}
